version: "3.9"

services:
  postgres:
    container_name: medusa-pg
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: medusa
      POSTGRES_PASSWORD: medusa
      POSTGRES_DB: medusa
    volumes:
      - medusa-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    container_name: medusa-redis
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  medusa:
    container_name: medusa
    build:
      context: .
    platform: linux/amd64
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
    ports:
      - "9000:9000" # matches Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: development

volumes:
  medusa-data:
