app = "wisled-medusa-backend"
primary_region = "fra"

[build]

[env]
  PORT = "9000"
  NODE_ENV = "production"

[http_service]
  internal_port = 9000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
